.header {
  display: flex;
  background: cadetblue;
  margin: 0px;
}

.title {
  text-align: left;
  flex: 1;
  color: darkblue;
}

nav {
  flex: 1;
}

.logo {
  flex: 1;
}

.logo{
  width: 8em;
}

.headline {
  flex: 1;
}

.content {
  display: flex;
}

.container-left {
margin: 0;
flex: 3;
padding: 1px;
width: 75%;
float: left;
}


.fish_image {
  height: 50px;
  width: 50px;
}

.fishlist {
font-family:cursive;
color: cornflowerblue;
display: flex;
justify-content: space-between;
background: darkblue;
flex-wrap: wrap;

}

.quote-list {
font-family:cursive;
background: cornflowerblue;
color: darkblue;
;

}

.location-list {
font-family:cursive;
background: darkgray;
color: saddlebrown;

}


.container-right {
height: 676px;
width: 24%;
background-color: orange;
margin: 0;
float: right;
}

body {
  background-color: rgb(54, 51, 51);
}